html {
  text-align: center;
}

ul{
	list-style-type: none;
}

li{
	text-align: right;
}

table {
    margin-top: 50px;
	background-color: lightblue;
	text-align: center;
}

#txt{
	margin: 10px 10px 10px 10px ;
	font-size :20pt;
}
#btn{
	margin-right: 10px;
}