html {
  text-align: center;
}

ul
{
	list-style-type: none;
}

li
{
	text-align: right;
}

table {
/*
	border: 2px solid grey;
    border-radius: 15px;
*/  margin-top: 50px;
	background-color: lightblue;
	text-align: center;
	
}